node_modules/
.pnpm-store
.next/
dist/
out/
coverage/
.env
.env.*.local
.DS_Store
.idea/
.vscode/*.log
turbo/
.turbo/
.env.*
.envrc
*.pem
*.p12
*.key
*.crt
*.env.*
frontend/.env
frontend/.env.*
backend/.env
backend/.env.*
